{% extends 'base.html.twig' %}

{% block title %}VelvetSunLocation | Nos produits{% endblock %}

{% block body %}
    <div class="container products-page">
        <h2 class="subtitle">VelvetSunLocation | Nos produits</h2>
        <section id="content">
            <div id="nav-category">
                <h3>Catégories</h3>
                <div class="container-categories">
                    {{form(form)}}
                </div>
            </div>
            <div id="container-products">        
                {% for product in products %}
                    <div class="container-one-product">
                        <div class="top-content">
                            <div class="img-product">
                                <a href="{{path('product', {'id': product.id})}}">
                                    <img src="/uploads/{{ product.photo }}" alt="Photo du produit - {{product.name}}">
                                </a>
                            </div>
                        </div>
                        <div class="bottom-content">
                            <p class="title-product">
                                <a href="{{path('product', {'id': product.id})}}">{{product.name}}</a>
                            </p>
                            <p class="price-product">{{ (product.price / 100)|number_format(2, ',', '.')}} €</p>    
                            {# <p class="stock-product">{{product.stocknumber}} produit(s) en stock</p> #}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
