<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="La boutique de la société de Production VelvetSun - Location de matériel de tournage">
        <meta name="author" content="Florian Le Scouarnec">
        <title>{% block title %}VelvetSun Location{% endblock %}</title>
        {{ encore_entry_link_tags('css/app') }}
    </head>
    <body>
        <header>
            <h1><a href="{{ path('home') }}">VelvetSunLocation</a></h1>
            <div class="container-home-login">
                <a href="{{ path('register') }}">
                    <img src="{{ asset('assets/img/profile-user.png') }}" alt="Icône d'un membre - login">
                </a>
            </div>
        </header>
        <main role="main" id="main">
            {% block body %}
            {% endblock %}
        </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
    </body>
</html>
